@import "../../../styles/variables";
@import "../../../styles/mixins";

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 2px solid $black;
  }

  &.success {
    color: $green;
  }

  &.info {
    color: $blue;
  }

  &.danger {
    color: $red;
  }
}