@import "../../../styles/mixins";
@import "../../../styles/variables";

.notification {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  font-weight: 700;
  background-color: $white;
  border-radius: 3px;
  border-left: 5px solid;
  padding: 2rem;
  z-index: 100;
  @include shadow-md;

  @include responsive(sm) {
    padding: 1rem;
    text-align: center;
  }

  &.success {
    border-left-color: $green;
  }

  &.info {
    border-left-color: $blue;
  }

  &.danger {
    border-left-color: $red;
  }
}
